.definitionBox {
    margin: 2%;
    overflow-y: scroll;
    font-size: 75%;
}

.definitionBox::-webkit-scrollbar{
    display: none;
}

.word {
    margin: 3%;
    font-weight: bold;

}

.definitions {
    margin-top: 5%;
    text-align: left;
}

.partOfSpeech {
    display: inline;
    font-weight: 100;
    text-align: left;
}

.addButton {
    font-size: 1rem;
    text-align: center;
    margin-right: 2%;
    display: inline;
    text-align: left;
    cursor: pointer;
}

.definition {
    display: inline;
    text-align: left;
}

.synonyms {
    text-align: left;
}

.synonym {
    font-weight: 300;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}

