.vstack2 {
    color: white;
    height: 200px;
    background-color: #2427319e;
    padding: 10%;
    height: 95%;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.accordion {
    margin-top: 10%;
}