.loginContainer {
    position: absolute;

    color: white;
    text-align: center;
    width: 20%;
}

.emailContainer, .passwordContainer, .confirmPasswordContainer {
    width: 100%;
    margin-top: 3%;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    margin-bottom: 8%;
}

.websiteTitle {
    color: #f6c344;
    margin: 3%;
    font-size: 150%;
    font-family: Oleo Script;
}

.registerButton {
    margin-top: 3rem;
    width: 100%;
}

#registerEmailInput, #registerPasswordInput, #confirmRegisterPasswordInput, #nameInput {
    border-radius: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f6c344;
    color: white;
    background-color: black;
    border-color: #f6c344;
}


#registerEmailInput::placeholder, #registerPasswordInput::placeholder, #confirmRegisterPasswordInput::placeholder, #nameInput::placeholder {
    color: gray;
}

.noAccount, .signUp {
    margin: 5%;
}